Repository goodprofy/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint . --fix

.lintstagedrc:

{
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,html,json}": ["prettier --write"],
  "*.{tsx,ts,jsx,js}": ["eslint . --fix"]
}

fix setState
  src/class/Component.ts
Due: eslint . --fix

rename Chats to Messenger
  src/App.tsx
  src/client/types.ts
  src/components/Chats/Chats.tsx
  src/components/Chats/components/Avatar/Avatar.tsx
  src/components/Chats/components/Avatar/index.ts
  src/components/Chats/components/Avatar/styles.module.scss
  src/components/Chats/components/ChatsItem/ChatsItem.tsx
  src/components/Chats/components/ChatsItem/index.ts
  src/components/Chats/components/ChatsItem/styles.module.scss
  src/components/Chats/components/index.ts
  src/components/Chats/index.ts
  src/components/Contacts/Contacts.tsx
  src/components/Contacts/components/Contact/Contact.tsx
  src/components/Contacts/components/Contact/index.ts
  src/components/Contacts/components/index.ts
  src/components/Contacts/index.ts
  src/components/index.ts
  src/pages/Chats/Chats.tsx
  src/pages/Messenger/Messenger.tsx
  src/pages/Messenger/components/CreateChatForm/CreateChatForm.tsx
  src/pages/Messenger/components/CreateChatForm/index.ts
  src/pages/Messenger/components/index.ts
  src/pages/Messenger/index.ts
  src/pages/Messenger/styles.module.scss
  src/pages/index.ts
Due: stylelint --fix, prettier --write, eslint . --fix

move messenger components to sidebar
  src/components/MessengerSidebar/MessengerSidebar.tsx
  src/components/MessengerSidebar/components/CreateChatForm/CreateChatForm.tsx
  src/components/MessengerSidebar/components/CreateChatForm/index.ts
  src/components/MessengerSidebar/components/index.ts
  src/components/MessengerSidebar/index.ts
  src/components/MessengerSidebar/styles.module.scss
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/index.ts
  src/components/index.ts
  src/pages/Chat/Chat.tsx
  src/pages/Messenger/Messenger.tsx
Due: stylelint --fix, prettier --write, eslint . --fix

add socket
  src/Navigator.tsx
  src/class/Component.ts
  src/class/HTTPClient.ts
  src/class/Route.ts
  src/class/Router.ts
  src/class/Socket.ts
  src/class/Store.ts
  src/class/index.ts
  src/client/Chats.ts
  src/client/types.ts
  src/components/Auth/Auth.tsx
  src/components/AvatarProfile/AvatarProfile.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextareaField/TextAreaField.tsx
  src/constants.ts
  src/hooks/index.ts
  src/hooks/useStore.ts
  src/hooks/useUser.ts
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/AddUserForm/AddUserForm.tsx
  src/pages/Chat/components/AddUserForm/index.ts
  src/pages/Chat/components/Header/Header.tsx
  src/pages/Chat/components/Message/Message.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/Chat/components/Messages/assets/photo.png
  src/pages/Chat/components/index.ts
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
  src/utils/index.ts
  src/utils/sanitizeInput.ts
Due: eslint . --fix

add info
  README.md
Due: prettier --write

fix sign up redirect
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: eslint . --fix

add readme bag info
  README.md
Due: prettier --write

remove response key from client
  src/Navigator.tsx
  src/class/HTTPClient.ts
  src/components/Auth/Auth.tsx
  src/components/AvatarProfile/AvatarProfile.tsx
  src/components/MessengerSidebar/MessengerSidebar.tsx
  src/components/MessengerSidebar/components/CreateChatForm/CreateChatForm.tsx
  src/pages/Chat/Chat.tsx
  src/pages/Profile/components/ProfileData/ProfileData.tsx
  src/pages/ProfileEdit/ProfileEdit.tsx
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: eslint . --fix

move messenger sidebar to layout
  src/components/Chats/components/ChatsItem/styles.module.scss
  src/layout/Chat/Chat.tsx
  src/layout/User/User.tsx
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/Messenger/Messenger.tsx
Due: stylelint --fix, prettier --write, eslint . --fix

add catch
  src/Navigator.tsx
  src/class/Error.ts
  src/class/HTTPClient.ts
  src/class/Store.ts
  src/class/index.ts
  src/components/Auth/Auth.tsx
  src/components/AvatarProfile/AvatarProfile.tsx
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/Header/Header.tsx
  src/pages/Chat/components/Message/Message.tsx
  src/pages/Chat/components/Message/styles.module.scss
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/Profile/Profile.tsx
  src/pages/ProfileEdit/components/ProfileForm/ProfileForm.tsx
  src/pages/SignIn/components/SignInForm/SignInForm.tsx
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: stylelint --fix, prettier --write, eslint . --fix

fix getChatToken
  src/pages/Chat/Chat.tsx
Due: eslint . --fix

add resources client
  src/client/Resources.ts
  src/client/client.ts
Due: eslint . --fix

add messege validity
  src/components/TextareaField/TextAreaField.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
  src/utils/index.ts
  src/utils/trim.ts
Due: eslint . --fix

fix add user validity
  src/pages/Chat/components/AddUserForm/AddUserForm.tsx
Due: eslint . --fix

update chat layout
  src/components/MessengerSidebar/MessengerSidebar.tsx
  src/components/MessengerSidebar/styles.module.scss
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/Chat/styles.module.scss
Due: stylelint --fix, prettier --write, eslint . --fix

add static api url
  src/class/Component.ts
  src/components/AvatarProfile/AvatarProfile.tsx
  src/constants.ts
Due: eslint . --fix

update chat users after add user to chat
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
Due: eslint . --fix

add chat avatar
  src/components/Chats/components/Avatar/Avatar.tsx
  src/components/Chats/components/ChatsItem/ChatsItem.tsx
Due: eslint . --fix

fix http client types
  src/class/HTTPClient.ts
Due: eslint . --fix

update readme
  README.md
Due: prettier --write

add @testing-library/dom
  package-lock.json
  package.json
Due: prettier --write

add Bone
  runtimers/jsx-runtime.ts
  src/class/Bone.test.ts
  src/class/Bone.ts
  src/class/Component.ts
  src/class/index.ts
  src/components/AvatarProfile/AvatarProfile.tsx
  src/components/Button/Button.tsx
  src/components/Chats/components/Avatar/Avatar.tsx
  src/components/Chats/components/ChatsItem/ChatsItem.tsx
  src/components/Flex/Flex.tsx
  src/components/Input/Input.tsx
  src/components/InputField/InputField.tsx
  src/components/Link/Link.tsx
  src/components/MessengerSidebar/MessengerSidebar.tsx
  src/components/Modal/Modal.tsx
  src/components/Page/Page.tsx
  src/components/PageError/PageError.tsx
  src/components/ProfileRowEdit/ProfileRowEdit.tsx
  src/components/Search/Search.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextError/TextError.tsx
  src/components/TextareaField/TextAreaField.tsx
  src/components/Title/Title.tsx
  src/layout/Chat/Chat.tsx
  src/layout/Public/Public.tsx
  src/layout/User/User.tsx
  src/pages/Chat/Chat.tsx
  src/pages/Chat/components/Header/Header.tsx
  src/pages/Chat/components/Message/Message.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
  src/pages/Messenger/Messenger.tsx
  src/pages/Profile/Profile.tsx
  src/pages/Profile/components/ProfileRow/ProfileRow.tsx
  src/pages/ProfileEdit/ProfileEdit.tsx
  src/pages/ProfilePasswordEdit/ProfilePasswordEdit.tsx
Due: eslint . --fix

fix form submit in bone test
  src/class/Bone.test.ts
  src/class/Bone.ts
Due: eslint . --fix

save vdom v1
  runtimers/jsx.ts
  src/class/Component.ts
  src/render.ts
  src/types.ts
  src/utils/deepEqual.test.ts
  src/utils/index.ts
Due: eslint . --fix

vdom v2
  src/class/Component.ts
  src/render.ts
Due: eslint . --fix

vdom v3
  src/render.ts
Due: eslint . --fix

vdom v4
  runtimers/jsx.ts
  src/dom/createElement.ts
  src/dom/index.ts
  src/dom/render.ts
  src/dom/updateElement.ts
  src/dom/updateProps.ts
Due: eslint . --fix

add children support to function component
  runtimers/jsx.ts
  src/class/Component.ts
  src/dom/updateElement.ts
Due: eslint . --fix

vdom v5
  runtimers/index.ts
  runtimers/jsx-runtime.ts
  runtimers/jsx.ts
  src/class/Bone.test.ts
  src/class/Bone.ts
  src/class/Component.ts
  src/class/index.ts
  src/dom/createElement.ts
  src/dom/render.ts
  src/dom/updateElement.ts
  src/dom/updateProps.ts
  src/render.ts
  src/types.ts
  src/utils/deepEqual.ts
  src/utils/isEqual.ts
  src/vite-env.d.ts
Due: eslint . --fix

fix jsx
  runtimers/jsx.ts
  src/class/Component.ts
  src/dom/createElement.ts
  src/dom/updateElement.ts
  src/dom/updateProps.ts
  src/vite-env.d.ts
  vite.config.mts
Due: eslint . --fix

fix set class
  src/dom/updateProps.ts
Due: eslint . --fix

fix types
  runtimers/jsx.ts
  src/App.test.tsx
  src/App.tsx
  src/class/Component.ts
  src/dom/createElement.ts
  src/dom/render.ts
  src/dom/updateChildren.ts
  src/dom/updateElement.ts
  src/types.ts
  src/vite-env.d.ts
Due: eslint . --fix

fix types updateProps
  src/dom/updateProps.ts
Due: eslint . --fix

update create element types
  src/class/Component.ts
  src/dom/createElement.ts
  src/types.ts
  src/vite-env.d.ts
Due: eslint . --fix

fix render update
  src/class/Component.ts
  src/dom/createElement.ts
  src/dom/getChildIndex.ts
  src/dom/index.ts
  src/dom/render.ts
  src/dom/updateElement.ts
  src/types.ts
  src/utils/index.ts
  src/utils/isNull.ts
  src/utils/isObject.ts
Due: eslint . --fix

remove getChildIndex
  src/class/Component.ts
  src/dom/createElement.ts
  src/dom/getChildIndex.ts
  src/dom/index.ts
  src/dom/updateElement.ts
  src/dom/updateProps.ts
  src/types.ts
Due: eslint . --fix

fix boolean updateProps
  src/dom/updateProps.ts
Due: eslint . --fix

fix update component
  src/class/Component.ts
  src/dom/updateElement.ts
Due: eslint . --fix
