Repository goodprofy/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, typecheck, eslint --fix

.lintstagedrc:

{
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{md,html,json}": ["prettier --write"],
  "*.{tsx,ts,jsx,js}": ["typecheck", "eslint --fix", "prettier --write"]
}

fix stylelint
  src/components/Button/styles.module.scss
  src/components/Contacts/components/Avatar/styles.module.scss
  src/components/Contacts/components/Contact/styles.module.scss
  src/components/Input/styles.module.scss
  src/components/InputField/styles.module.scss
  src/components/Modal/styles.module.scss
  src/components/PageError/styles.module.scss
  src/components/ProfileRowEdit/styles.module.scss
  src/components/Search/styles.module.scss
  src/components/Sidebar/styles.module.scss
  src/components/TextEditor/styles.module.scss
  src/components/Title/styles.module.scss
  src/layout/User/styles.module.scss
  src/pages/Chat/components/Header/styles.module.scss
  src/pages/Chat/styles.module.scss
  src/pages/Chats/styles.module.scss
  src/pages/Profile/components/ProfileRow/styles.module.scss
  src/pages/Profile/styles.module.scss
  src/pages/ProfileEdit/styles.module.scss
  src/pages/ProfilePasswordEdit/styles.module.scss
  src/styles/_fonts.scss
  src/styles/_reset.scss
Due: stylelint --fix, prettier --write

downgrade eslint
  .eslintrc.json
  .lintstagedrc
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

downgrade eslint
  .eslintrc.json
  server.js
  src/class/Component.ts
  src/class/EventBus.ts
  src/class/HTTPClient.ts
  src/components/Button/index.ts
  src/components/Contacts/components/Avatar/Avatar.tsx
  src/components/Flex/Flex.tsx
  src/components/InputField/InputField.tsx
  src/components/Link/Link.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/components/Page/Page.tsx
  src/components/ProfileRowEdit/ProfileRowEdit.tsx
  src/components/Title/Title.tsx
  src/components/Title/index.ts
  src/constants.ts
  src/index.tsx
  src/pages/AvatarEdit/components/AvatarForm/AvatarForm.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/Chats/index.ts
  src/pages/Profile/components/ProfileRow/ProfileRow.tsx
  src/pages/ProfileEdit/components/ProfileForm/ProfileForm.tsx
  src/pages/ProfilePasswordEdit/components/ProfilePasswordForm/ProfilePasswordForm.tsx
  src/pages/ServerError/index.ts
  src/pages/SignIn/components/SignInForm/SignInForm.tsx
  src/pages/SignIn/index.ts
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
  src/pages/SignUp/index.ts
  src/utils/clsx.ts
  src/utils/isDefined.ts
  src/vite-env.d.ts
  tsconfig.json
Due: prettier --write, typecheck, eslint --fix

fix types
  src/class/Component.ts
  src/pages/AvatarEdit/components/AvatarForm/AvatarForm.tsx
  src/pages/Chat/components/MessageInput/MessageInput.tsx
  src/pages/Chat/components/Messages/Messages.tsx
  src/pages/ProfilePasswordEdit/components/ProfilePasswordForm/ProfilePasswordForm.tsx
  src/pages/SignIn/components/SignInForm/SignInForm.tsx
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: prettier --write, typecheck, eslint --fix

fix input update
  src/class/Component.ts
Due: prettier --write, typecheck, eslint --fix

fix textarea
  src/class/Component.ts
Due: prettier --write, typecheck, eslint --fix

add textarea
  src/components/InputField/InputField.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/index.ts
  src/components/TextArea/styles.module.scss
  src/components/TextEditor/TextEditor.tsx
  src/components/TextEditor/index.ts
  src/components/TextareaField/TextAreaField.tsx
  src/components/TextareaField/index.ts
  src/components/TextareaField/styles.module.scss
  src/components/index.ts
  src/pages/Chat/components/MessageInput/MessageInput.tsx
Due: stylelint --fix, prettier --write, typecheck, eslint --fix

add sort imports
  .eslintrc.json
Due: prettier --write

add api url
  src/constants.ts
Due: prettier --write, typecheck, eslint --fix

add queryStringify, applyMixins, isEqual
  src/utils/applyMixins.ts
  src/utils/index.ts
  src/utils/isEqual.ts
  src/utils/logError.ts
  src/utils/queryStringify.ts
Due: prettier --write, typecheck, eslint --fix

remove portal from modal
  src/components/Modal/Modal.tsx
Due: prettier --write, typecheck, eslint --fix

add router
  src/App.tsx
  src/Navigator.tsx
  src/class/Route.ts
  src/class/Router.ts
  src/hooks/index.ts
  src/hooks/useFetch.ts
  src/hooks/useRouter.ts
  src/router/Router.tsx
  src/router/index.ts
Due: prettier --write, typecheck, eslint --fix

add http client
  src/class/HTTPClient.ts
  src/class/index.ts
  src/client/Auth.ts
  src/client/Chats.ts
  src/client/client.ts
  src/client/index.ts
  src/client/types.ts
Due: prettier --write, typecheck, eslint --fix

add button disabled
  src/components/Button/Button.tsx
  src/components/Button/styles.module.scss
Due: stylelint --fix, prettier --write, typecheck, eslint --fix

add form generic
  src/components/Form/Form.tsx
Due: prettier --write, typecheck, eslint --fix

add navigate to link
  src/components/Link/Link.tsx
Due: prettier --write, typecheck, eslint --fix

fix response generic
  src/class/HTTPClient.ts
Due: prettier --write, typecheck, eslint --fix

fix links
  src/pages/Home/Home.tsx
Due: prettier --write, typecheck, eslint --fix

fix cursor on link
  src/components/Link/styles.module.scss
Due: stylelint --fix, prettier --write

add sign in
  src/pages/SignIn/components/SignInForm/SignInForm.tsx
Due: prettier --write, typecheck, eslint --fix

add sign up
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: prettier --write, typecheck, eslint --fix

fix input name type
  src/components/Input/types.ts
Due: prettier --write, typecheck, eslint --fix

add handler to input field
  src/components/InputField/InputField.tsx
Due: prettier --write, typecheck, eslint --fix

add logout
  src/pages/Profile/Profile.tsx
Due: prettier --write, typecheck, eslint --fix

fix nav links
  src/hooks/useUser.ts
  src/layout/Chat/Chat.tsx
  src/layout/User/User.tsx
  src/pages/Chat/Chat.tsx
  src/pages/Chats/Chats.tsx
Due: prettier --write, typecheck, eslint --fix

remove mediator from router
  src/class/Router.ts
Due: prettier --write, typecheck, eslint --fix

remove log
  src/class/HTTPClient.ts
Due: prettier --write, typecheck, eslint --fix

add loading
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/components/Loading/styles.module.scss
  src/components/index.ts
Due: stylelint --fix, prettier --write, typecheck, eslint --fix

fix isEqual
  src/class/Component.ts
  src/types.ts
  src/utils/isEqual.ts
Due: prettier --write, typecheck, eslint --fix

add multipart to http client
  src/class/HTTPClient.ts
Due: prettier --write, typecheck, eslint --fix

add users client
  src/client/Users.ts
  src/client/client.ts
  src/client/types.ts
Due: prettier --write, typecheck, eslint --fix

add auth check
  src/components/Auth/Auth.tsx
  src/components/Auth/index.ts
  src/components/index.ts
  src/hooks/useUser.ts
Due: prettier --write, typecheck, eslint --fix

add client methods
  runtimers/jsx-runtime.ts
  src/Navigator.tsx
  src/components/AvatarProfile/AvatarProfile.tsx
  src/components/AvatarProfile/styles.module.scss
  src/components/Input/Input.tsx
  src/components/InputField/InputField.tsx
  src/components/ProfileRowEdit/ProfileRowEdit.tsx
  src/components/Search/Search.tsx
  src/pages/AvatarEdit/components/AvatarForm/AvatarForm.tsx
  src/pages/Profile/Profile.tsx
  src/pages/Profile/components/ProfileData/ProfileData.tsx
  src/pages/Profile/components/ProfileData/index.ts
  src/pages/ProfileEdit/ProfileEdit.tsx
  src/pages/ProfileEdit/components/ProfileForm/ProfileForm.tsx
  src/pages/ProfilePasswordEdit/components/ProfilePasswordForm/ProfilePasswordForm.tsx
Due: stylelint --fix, prettier --write, typecheck, eslint --fix

remove home page
  src/App.tsx
Due: prettier --write, typecheck, eslint --fix

fix router
  src/class/Router.ts
Due: prettier --write, typecheck, eslint --fix

add success auth redirect
  src/pages/SignIn/SignIn.tsx
  src/pages/SignIn/components/SignInForm/SignInForm.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/components/SignUpForm/SignUpForm.tsx
Due: prettier --write, typecheck, eslint --fix

add backdrop click on modal avatar
  src/pages/AvatarEdit/AvatarEdit.tsx
Due: prettier --write, typecheck, eslint --fix

add redirect without auth
  src/class/HTTPClient.ts
Due: prettier --write, typecheck, eslint --fix

fix get
  src/class/HTTPClient.ts
Due: prettier --write, typecheck, eslint --fix

add chat search
  src/components/Search/Search.tsx
Due: prettier --write, typecheck, eslint --fix
